$font-style: 'Montserrat', sans-serif;
$primary-color: #FFFFFF;
$sec-solor: #FF4B2B;
$bluecolor: blue;
$backgcolor: #f6f5f7;
$fontsize: 12px;
$ecolor: #eee;
$fcolor:#fff;
$navcolo: #edf0f1;
$backgroundblack:#24252A;